<!doctype html>
<html>
  <head>
    <title>Tic-Tac-Toe</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" />
    <link rel="stylesheet" href="style.css" />
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="script.js"></script>
  </head>
  <body data-ng-app data-ng-controller="GameCtrl">
    <header>
      <h1>Tic-Tac-Toe</h1>
    </header>
    <article>
      <div class="main span6">
        <table class="tic-tac-toe">
          <tr data-ng-repeat="row in game.grid">
            <td data-ng-repeat="cell in row"
                data-ng-click="game.click($parent.$index, $index)"
                data-ng-class="{line: game.isLine($parent.$index, $index)}">
              {{cell}}
            </td>
          </tr>
        </table>
      </div>
      <div class="sidebar span4 offset1">
        <table class="scoreboard table table-stiped table-hover table-bordered">
          <caption>Scoreboard</caption>
          <tr><td>X wins</td><td>{{game.x_wins}}</td></tr>
          <tr><td>O wins</td><td>{{game.o_wins}}</td></tr>
          <tr><td>Draws </td><td>{{game.draws}}</td></tr>
        </table>
        <button class="btn btn-danger btn-block btn-large" data-ng-click="game.reset_scores()">
          <i class="icon-trash icon-white"></i> Reset Scores
        </button>
        <button class="btn btn-primary btn-block btn-large" data-ng-click="game.reset_game()">
          <i class="icon-refresh icon-white"></i> Start New Game
        </button>
      </div>
    </article>
    <footer></footer>
  </body>
</html>
