header {
  margin-left: 20px;
}

table.scoreboard {
  width: 450px;
}

table.tic-tac-toe {
  width: 450px;
  height: 450px;
}

table.tic-tac-toe td {
  width: 150px;
  height: 150px;
  border: thick solid black;
  background-color: blue;
  color: white;
  font-family: "Courier New", Courier, monospaced;
  font-size: 72px;
  text-align: center;
  font-weight: bolder;
}
