body {
  margin: 0;
  padding: 0;
}

.grid, .sidebar {
  float: left;
}

.grid .cell {
  float: left;
  margin: 1%;
  background: #00c;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  font-weight: bold;
  line-height: 1em;
  color: #fff;
}

.grid .cell:hover { background: #00f; }

.grid .cell.chain-short { color: #ff0; }
.grid .cell.chain-long { color: #f00; }

.scoreboard .highlight { background: #8f8; }

.sidebar .btn {
  display: block;
  margin: 2%;
  text-align: left;
}

.sidebar .btn span { float: right; }
